
body{
    background-color: rgb(214 223 225);
    overflow:hidden;
    margin:0;
    width:200px;
    text-align:center;
    display: flex;
    flex-direction:column;
    gap: 10px;
}
div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
h1{
    background-color:#4aa05a;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(228 247 231);
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid black;
}
p{
    margin:0;
}
button{
    background-color: rgb(196, 230, 203);
    padding: 7px 15px;
    border-radius: 4px;
    width:100%;
    font-size:16px;
    font-weight:700;
    border: 1px solid rgba(151, 171, 173, 0.281);
    color:rgb(63, 63, 63);
    cursor:pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover{
    background-color: rgb(121, 233, 171);
    border-color: rgb(100, 136, 139);
}
button.active{
    background-color: rgb(221 255 208);
    border-color: rgb(253, 192, 22);
    color: white;
}